@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: currentColor;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* main */
main {
    background-color: rgb(15 23 42 / 1);
    height: 100vh;
    overflow: auto;
    color: #e5e7eb;
}

/* header */

header {
    height: 100px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wp {
    width: 120px;
    height: 60px;
}

.logo-wp img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header div:last-child a {
    fill: #fff;
    color: #fff;
    background-color: #44d6b2;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    width: 100px;
    height: 40px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    text-decoration: none;
}

h1.intro-website {
    text-align: center;
    font-weight: 700;
    padding: 40px 0;
    padding-bottom: 10px;
    font-size: 3.1rem;
    text-shadow: 0 1px 1px 0 rgba(191, 218, 230, 0.8);
}

.fghjk-dsf {
    font-size: 1.6rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
}

.conten-body-wrapper img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.vs-embe-chuk {
    height: 500px;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 40px;
    font-size: 50px;
}

.hilight-code {
    font-size: 2rem;
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.light-hilight {
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 30px;
    color: #333;
    font-size: 2rem;
}

.light-hilight img {
    object-fit: cover;
    width: 30%;
    display: block;
    margin: 0 auto;
}

.auto-srcoll-down {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 52px;
    border: 1.5px solid #494b52;
    border-radius: 16px;
    padding: 0 28px 2px;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #0d1117;
    background-color: #fff;
    text-decoration: none;
    color: #333 !important;
}

.auto-srcoll-down:hover {
    text-decoration: none !important;
    background-color: #f5f5f5;
}

.try {
    font-size: 2.1rem;
    font-weight: 700;
    padding: 6px 0;
    display: block;
}

.cusdfghjkl:hover {
    background-color: blue !important;
}

.cusdfghjkl-sdfsdf:hover {
    animation: Rotate linear 0.3s infinite;
}

@keyframes Rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.sdsdfsdfdsfsd3267890:hover {
    transform: rotate(40deg);
    transition: all linear 0.5s;
}
