@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: currentColor;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* main */
main {
    background-color: rgb(15 23 42 / 1);
    height: 100vh;
    overflow: auto;
    color: #e5e7eb;
    width: 100vw;
    overflow-x: hidden;
}

/* header */

header {
    height: 100px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wp {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo-wp img {
    width: 120px;
    height: 60px;
    object-fit: contain;
}

header div:last-child a {
    fill: #fff;
    color: #fff;
    background-color: #44d6b2;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    width: 100px;
    height: 40px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    text-decoration: none;
}

h1.intro-website {
    text-align: center;
    font-weight: 700;
    padding: 40px 0;
    padding-bottom: 10px;
    font-size: 3.1rem;
    text-shadow: 0 1px 1px 0 rgba(191, 218, 230, 0.8);
}

@media (max-width: 576px) {
    h1.intro-website {
        font-size: 2rem;
    }

    .fghjk-dsf {
        font-size: 1.4rem;
    }

    .ul-container {
        font-size: 1rem;
    }

    .ul-header.active {
        font-size: 1rem;
    }

    .auto-srcoll-down {
        padding: 0 14px 2px !important;
    }
}

.fghjk-dsf {
    font-size: 1.6rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
}

.conten-body-wrapper img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.vs-embe-chuk {
    height: 500px;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 40px;
    font-size: 50px;
}

.hilight-code {
    font-size: 2rem;
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.light-hilight {
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 40px 30px;
    color: #333;
    font-size: 2rem;
    position: relative;
}

.light-hilight img {
    object-fit: cover;
    width: 30%;
    display: block;
    margin: 0 auto;
}

.auto-srcoll-down {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 52px;
    border: 1.5px solid #494b52;
    border-radius: 16px;
    padding: 0 28px 2px;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #0d1117;
    background-color: #fff;
    text-decoration: none;
    color: #333 !important;
}

.auto-srcoll-down:hover {
    text-decoration: none !important;
    background-color: #f5f5f5;
}

.try {
    font-size: 2.1rem;
    font-weight: 700;
    padding: 6px 0;
    display: block;
}

.cusdfghjkl:hover {
    background-color: blue !important;
}

.cusdfghjkl-sdfsdf:hover {
    animation: Rotate linear 0.3s infinite;
}

@keyframes Rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.sdsdfsdfdsfsd3267890:hover {
    transform: rotate(40deg);
    transition: all linear 0.5s;
}
.ul-container {
    text-align: center;
}
.ul-header {
    background-color: rgb(15 23 42 / 1);
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 12px;
    height: 100%;
    font-size: 1.6rem;
    padding: 10px 0;
    padding-bottom: 20px;
    margin: 0;
}

.ul-container {
    position: sticky;
    top: 0;
    z-index: 99999999;
    padding-bottom: 20px;
}

.ul-header li {
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    padding: 0 10px;
    font-size: 2rem;
    width: 175px;
    text-align: center;
}

.ul-header.active li.li-header:first-child {
    color: #ee4d2d;
    font-size: 2.1rem;
    font-weight: 700;
}

.ul-header.not-active .li-ghj3 {
    color: #ee4d2d;
    font-size: 2.1rem;
    font-weight: 700;
}

.ul-header strong {
    width: 160px;
    height: 5px;
    background-color: #ccc;
    position: absolute;
    bottom: 6px;
    transition: all linear 0.4s;
    left: 0;
}

.dfghjkl45678fghjkl li::after {
    content: "♡ 💜";
}

.dfghjkl45678fghjkl li::before {
    content: "💜♡";
}

.dsf456789iuyjhgfdxcvbjhkhgfdcsxcvbjkyu:focus {
    border: 5px solid black;
}

.dsfghjkjhgx45678987ytredsfghjkhgfdegf {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    transition: all linear 0.4s;
}

.dsfghjkjhgx45678987ytredsfghjkhgfdegf:hover {
    transform: scale(1.6);
}

.dsfghjkjhgx45678987ytr234tytfdsedsfghjkhgfdegf {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    transition: all linear 0.4s;
}

.dsfghjkjhgx45678987ytr234tytfdsedsfghjkhgfdegf:hover {
    transform: skew(15deg, 15deg);
}

.css-title-chung {
    font-size: 1.7rem;
    font-weight: 700;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    position: absolute;
    white-space: nowrap;
}

video {
    width: 100%;
    object-fit: cover;
}

.conten-body-wrapper {
    overflow: hidden;
}

.suggest-game{
    position: absolute;
    background-color: #fff;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.suggest-game ul{
    list-style: none;
}

.suggest-game ul li {
    white-space: nowrap;
    padding: 10px 30px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.4rem;
}

.suggest-game ul li:hover{
    background-color: rgba(0,0,0,0.5);
    color: #ee4d2d;
}

.suggest-game ul li a{
    color: currentColor;
    text-decoration: none;
    height: 100%;
}

.game-css-training:hover .suggest-game{
    display: block;
}